<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="~/Content/css/sidebar-nav.min.css" rel="stylesheet" />
    <!-- vector map CSS -->
    <link href="~/Content/css/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/Content/css/css-chart.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/css/blue.css" rel="stylesheet" />
    <!-- Bootstrap Data Tables CSS: https://datatables.net/examples/api/multi_filter.html -->
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Buton ve dönüştürücü CSS: https://datatables.net/extensions/buttons/examples/initialisation/export.html -->
    <link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
    <!-- SweetAlert Css-->
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- Bootstrap Data Table Css style: https://datatables.net/examples/api/multi_filter.html -->
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
                    <a class="logo" href="@Url.Action("Index", "Kitap")">
                        <b>
                            <img src="~/Content/img/estulogomuz.jpg" alt="home" />
                        </b><span class="hidden-xs">
                            <img src="~/Content/img/textlogo1.png" />
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                            <img src="~/Content/img/user.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">@Request.Cookies["uye"]["Ad"]</b>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li><a href="@Url.Action("ProfilBilgilerimiGuncelle", "Uyelik")"><i class="fa fa-edit"></i> Profil Bilgilerimi Güncelle</a></li>
                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="~/Content/img/user.png" alt="user-img" class="img-circle"> <span class="hide-menu"> <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("ProfilBilgilerimiGuncelle", "Uyelik")"><i class="fa fa-edit"></i> Profil Bilgilerimi Güncelle</a></li>
                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap m-t-10">--- Menüler</li>
                    <li>
                        <a href="@Url.Action("Index", "Istatistik")" class="waves-effect"><i class="icon-graph"></i> <span class="hide-menu"> İstatistikler </span></a>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="fa fa-list-alt"></i> <span class="hide-menu"> Kategoriler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index", "Kategori")">Listele</a></li>
                            <li><a id="ktgEkle" href="javascript:void(0)">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="fa fa-pencil"></i> <span class="hide-menu"> Yazarlar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index", "Yazar")">Listele</a></li>
                            <li><a id="yazarEkle" href="javascript:void(0)">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="fa fa-book"></i> <span class="hide-menu"> Kitaplar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index", "Kitap")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle", "Kitap")">Ekle</a></li>
                            <li><a href="@Url.Action("VerilenKitap", "OduncKitap")">Ödünç Alınan Kitaplar</a></li>
                            <li><a href="@Url.Action("TeslimEdilenKitap", "OduncKitap")">Teslim Edilen Kitaplar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="fa fa-user"></i> <span class="hide-menu"> Üyeler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index", "Uye")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle", "Uye")">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Uyelik")" class="waves-effect"><i class="fa fa-user-secret"></i> <span class="hide-menu"> Üyelik İşlemleri </span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.Title</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row white-box">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2020 &copy; Designed by İrem Çalışkan </footer>
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Scripts/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/waves.js"></script>
    <!-- Flot Charts JavaScript -->
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
    <!-- google maps api -->
    <script src="~/Scripts/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Scripts/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Sparkline charts -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <!-- EASY PIE CHART JS -->
    <script src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/easy-pie-chart.init.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/dashboard2.js"></script>
    <!--Style Switcher -->
    <script src="~/Scripts/jQuery.style.switcher.js"></script>

    <!--Bootstrap Data Tables: https://datatables.net/examples/api/multi_filter.html-->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <!-- Buton ve dönüştürücü scriptleri: https://datatables.net/extensions/buttons/examples/initialisation/export.html -->
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>

    <!-- Bootstrap Data Table Script Kodu: https://datatables.net/examples/api/multi_filter.html -->
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            // DataTable
            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

    </script>
    <!-- Sweet Alert-->
    <script src="~/Scripts/sweetalert2.min.js"></script>

    <!-- My Scripts-->
    <script src="~/Scripts/Kategori.js"></script>
    <script src="~/Scripts/Yazar.js"></script>
    <script src="~/Scripts/Kitap.js"></script>
    <script src="~/Scripts/OduncKitap.js"></script>
    <script src="~/Scripts/Uye.js"></script>
    <script src="~/Scripts/Uyelik.js"></script>
    <script src="~/Scripts/GirisYap.js"></script>
    <script src="~/Scripts/ProfilBilgi.js"></script>

    @RenderSection("script", false)

</body>
</html>
